{% extends "../base/base.html" %}
{% load static %}

{% block title %}
<title>Add Project</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/add_project.css' %}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    
    <h2 class="text-center">Add a New Project</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add Project</button>
        <a href="javascript:void(0);" onclick="history.back();" class="btn btn-secondary">Cancel</a>
    </form>

</div>
{% endblock %}
